/* body{
    background-image: url("img.jpg");
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

} */

/* .shop-cart{
    background-color: aliceblue; 
    opacity: .8;
    border-radius: 22px;
} */
